.photo:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.photo img {
  grid-area: 1 / 1;
  max-width: 100%;
}

.visualizacao {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1;
  display: none;
}

.visualizacao::before {
  content: '';
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
}

.photo:hover .visualizacao {
  display: flex;
}

@media (max-width: 500px) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}
