.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.login {
  color: var(--black);
  font-size: 18px;
}

.login::after {
  content: '';
  background-image: url('../Assets/usuario.svg');
  width: 14px;
  height: 17px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  top: 2px;
}
