@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  --black: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: var(--type-first);
  padding-top: 60px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  display: block;
  color: var(--black);
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-family: var(--type-second);
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fb1;
  bottom: 10px;
  z-index: -1;
}

.error {
  color: tomato;
  font-size: 0.75rem;
  margin: 1rem 0;
}

.animaLeft {
  transform: translateX(-20px);
  animation: animaLeft 0.3s forwards;
}

@keyframes animaLeft {
  to {
    transform: initial;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 5px;
  }
}
