* {
  margin: 0;
  padding: 0;
  --black: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

body {
  color: var(--black);
  font-family: var(--type-first);
  padding-top: 60px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  display: block;
  color: var(--black);
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
